<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script src="./lib/react.js"></script>
<script src="./lib/react-dom.js"></script>
<script src="./lib/browser.min.js"></script>
<script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="./style/index3.css"></link>
</head>
<body class="leyoubird">
<div id="machi"></div>
<script type="text/babel">
var Leyoubird = React.createClass({
    render: function () {
        return (
            <div className="leyoubird-content">
                <h1 className="title">乐游鸟旅行</h1>
                <hr/>
                <LeyoubirdList url="http://123.56.194.182:8080/api/summary" />
            </div>
        )
    }
});
var LeyoubirdList = React.createClass({
    getInitialState: function () {
        return {
            isLoading: false,
            data: []
        }
    },
    componentDidMount: function () {
        let url = this.props.url;
        this.getData(url).then(function (res) {
            res = (typeof res === 'object' ? res : $.parseJSON(res));
            if (res && res.summarys) {
                this.setState({
                    data: res.summarys,
                    isLoading: false
                });
                console.log('data updated');
            }
        }.bind(this));
    },
    itemClick: function (e) {
        var id = e.currentTarget.getAttribute('data-id');
        // window.location.href = 'http://123.56.194.182:8080/api/travel?category=recommend&productId=' + id;
    },
    getData: function (url) {
        this.setState({
            isLoading: true
        })
        var promise = new Promise(function (resolve, reject) {
            var r = resolve;
            var j = reject;
            $.ajax({
                url: url,
                data: {category: 'recommend'}
            }).done(function (res) {
                resolve(res);
            });
        });
        return promise;
    },
    render: function () {
        let data = this.state.data;
        let list = [];
        for (let item of data) {
            list.push(
                <li key={item.id} data-category={item.category} data-id={item.id} onClick={this.itemClick}>
                    <a style={{backgroundImage:'url(' + item.imageUrl + ')'}}>
                        <span className="inner-title">{item.imageTitle}</span>
                    </a>
                </li>
            )
        }
        if (this.state.isLoading === true) {
            return <div>正在加载...</div>;
        } else {
            return <ul className="list">{list}</ul>;
        }

    }
});
ReactDOM.render(<Leyoubird />, document.getElementById('machi'));
</script>
</body>
</html>