@font: "Microsoft YaHei", sans-serif;

.leyoubird {
    font-family: @font;
    font-size: 16px;
    font-weight: 100;
    padding: 16px;
    margin: 0;

    h1.title {
        font-size: 32px;
        font-weight: 100;
    }

    ul.list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 16px 0;
            padding: 0;
            width: 410px;

            a {
                display: block;
                width: 410px;
                height: 240px;
                background-size: cover;
                outline: none;
                position: relative;

                span.inner-title {
                    position: absolute;
                    z-index: 100;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 16px;
                    background-color: #000;
                    color: #fff;
                    opacity: .6;
                }
            }
        }
    }
}